<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProjectService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IProductBacklogService" />
                <binding name="BasicHttpBinding_ISprintBacklogService" />
                <binding name="BasicHttpBinding_ISprintService" />
                <binding name="BasicHttpBinding_ITaskService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ScrumManagementApp.WebService/ProjectService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectService"
                contract="ProjectService.IProjectService" name="BasicHttpBinding_IProjectService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ScrumManagementApp.WebService.Services/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ScrumManagementApp.WebService/ProductBacklogService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductBacklogService"
                contract="ProductBacklogService.IProductBacklogService" name="BasicHttpBinding_IProductBacklogService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ScrumManagementApp.WebService.Services/SprintBacklogService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISprintBacklogService"
                contract="SprintBacklogService.ISprintBacklogService" name="BasicHttpBinding_ISprintBacklogService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ScrumManagementApp.WebService.Services/SprintService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISprintService"
                contract="SprintService.ISprintService" name="BasicHttpBinding_ISprintService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ScrumManagementApp.WebService.Services/TaskService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaskService"
                contract="TaskService.ITaskService" name="BasicHttpBinding_ITaskService" />
        </client>
    </system.serviceModel>
</configuration>